[user]
	name = Merijn
	email = 161606054+merijnvervoorn@users.noreply.github.com
	
[alias]
    cm = commit -m
    pullr = pull --rebase
    
[credential]
	helper = store
	
[init]
	defaultBranch = main
	
[include]
    path = ~/.dotfiles/.gpg-key
    
[commit]
	gpgsign = true

[url "git@github.com:merijnvervoorn/"]
	insteadOf = "merijn:"
	
[url "git@github.com:"]
	insteadOf = "gh:"
